    <.flash_group flash={@flash} />                                                                                      
    <div>  <!-- Add a wrapper div -->                                                                                    
    <h1>Welcome to the Home Page</h1>                                                                                  
    <p>This is the content of the home page.</p>                                                                       
    <.live_component module={ComboboxWeb.TerritorySearchComponent} id="territory-search" />                            
    </div>                                                                                                               
            